#leftSide{
	width:30%;
	height:100%;
}
#rightSide{
	width:68%;
	height:100%;
	}
#publicNotification{
	margin-top:1vh;
	height:7vh;
	background:rgba(0, 0, 0, 0.7);
}
#notificationImg{
padding:0;
top:1.5vh;
bottom:1.5vh;
height:10vh;
}
#hallImgLayouts{
height:auto;


}
#composeLayouts{
margin-top:1vh;
height:12vh;
border:1px solid black;		
}
.homePageImg{
height:auto;	

}
.box1, box2, box3 {
   height: 300px;
   border: 2px solid blue;
   backgorund-color:white;
}
.transparent {
  background: white !important;
}
.modal-backdrop{
background:white!important;	
}
.text-style{
line-height:4vh;
font-size:2vh;
text-align:left;	
}