<ion-view ng-controller="listCtrl">
<ion-content>
<div class="list">
<ion-checkbox>
    <a class="item item-avatar" href="">
      <img src="../img/singlepeople.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    </ion-checkbox>
 <ion-checkbox>
<a class="item item-avatar" href="#">
      <img src="../img/singlepeople.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    </ion-checkbox>
<button class="button button-small button-assertive" ng-click="assign()" style="margin:3vh 0 0 25vh;">
  assign
</button>
</div>
</ion-content>
</ion-view>