<ion-view title="MessageList" ng-controller="listCtrl" animation="slide-left-right-ios7">
    <ion-content>
        <div>
            <ion-side-menus enable-menu-with-back-views="true" data-componentid="side-menu21">
                <ion-side-menu-content>
                    <ion-nav-bar class="bar-positive">
                        <ion-nav-buttons side="left">
                            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                        </ion-nav-buttons>
                    </ion-nav-bar>
                    <div class="list" style="margin-top:7vh;">
                        <a class="item item-avatar" href="#chat">
                            <img src="../img/singlepeople.jpg">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>
                         <a class="item item-avatar" href="#">
                            <img src="../img/singlepeople.jpg">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>
                         <a class="item item-avatar" href="#">
                            <img src="../img/singlepeople.jpg">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>
                         <a class="item item-avatar" href="#">
                            <img src="../img/singlepeople.jpg">
                            <h2>Venkman</h2>
                            <p>Back off, man. I'm a scientist.</p>
                        </a>

                    </div>
                </ion-side-menu-content>
                <ion-side-menu side="left" id="side-menu21">
                    <ion-header-bar class="bar-positive">
                        <div class="title">Menu</div>
                    </ion-header-bar>
                    <ion-content padding="false" class="side-menu-left has-header">
                        <ion-list data-componentid="list1">
                            <ion-item ui-sref="tabsController.match" menu-close="" data-componentid="list-item1">Open</ion-item>
                            <ion-item ui-sref="tabsController.table" menu-close="" data-componentid="list-item2">Close</ion-item>
                            <ion-item href="#assign" menu-close="" data-componentid="list-item4">Assign</ion-item>
                        </ion-list>
                    </ion-content>
                </ion-side-menu>
            </ion-side-menus>
        </div>
        <!--<ion-header-bar class="bar-positive">
                <div class="title" style="text-align=center">Message List</div>
            </ion-header-bar>

<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light" style="margin-top:0px;">
    <div class="tabs">
      <a class="tab-item active" href="#list">
        <i class="icon ion-load-a"></i>
        Test
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-close-circled"></i>
        Settings
      </a>
      <a class="tab-item" href="#assign">
        <i class="icon ion-paper-airplane"></i>
        Favorites
      </a>
      
    </div>
  </div>
  
  <!--
<button class="button button-small button-assertive" ng-click="assign()">
  assign
</button>

<ion-slide-box on-slide-changed="slideChanged()" show-pager="false" >
  <ion-slide>
    <div class="list">

    <a class="item item-avatar" href="#">
      <img src="../img/singlepeople.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    <div class="list">

    <a class="item item-avatar" href="#">
      <img src="../img/singlepeople.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    <div class="list">

    <a class="item item-avatar" href="#">
      <img src="../img/singlepeople.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>

</div>

</div>

</div>
  </ion-slide>

  <ion-slide>
    <div class="box yellow" ><h1>YELLOW</h1></div>
  </ion-slide>
  
  <ion-slide>
    <div class="box pink" ><h1>PINK</h1></div>
  </ion-slide>
  
  
</ion-slide-box>-->
    </ion-content>
</ion-view>
