<ion-view view-title="link" >
    <ion-content scroll="false" ng-controller="ProductCtrl">
    <div class="publicView">
            <div class="row">
            <div id="leftSide">
            </div>
            <div id="rightSide">
                <div id="publicNotification">
                 <i style="color:white;font-size:7vh!important;float:right;margin:0.5vh;"class="icon ion-chatboxes"></i>	              </div>
                    <div id="hallImgLayouts">
                        <div class="row">
                            <div class="col homePageImg" >
                                <img src="img/205new.jpg" width="100%" height="auto" ng-click="model1.show()" ></img>
                            </div>
                            <div class="col homePageImg" >
                                <img src="img/104.jpg" width="100%" height="auto" ng-click="model2.show()"></img>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col homePageImg" >
                                <img src="img/105.jpg" width="100%" height="auto" ng-click="model3.show()"></img>
                            </div>
                            <div class="col homePageImg" >
                                <img src="img/6.jpg" width="100%" height="auto" ng-click="model4.show()"></img>
                            </div>
                        </div>

                    </div>
                    <div>
                        <button class="button button-block button-dark" ng-click="compose()">Compose</button>
                    </div>
                </div>
                
            </div>
        </div>
        </div>
    </ion-content>
</ion-view>

  